.rightColumn {
  background-color: rgba(255, 255, 255, 0.51);
  color: rgba(10, 17, 40, 1);
  height: 100vh;
  
}

body {
  color: white;
}

.thunderstorm {
  background-image: url('./assets/images/thunder.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.drizzle {
  background-image: url('./assets/images/drizzle.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.rain {
  background-image: url('./assets/images/rainyDay.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.snow {
  background-image: url('./assets/images/snow.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.atmosphere {
  background-image: url('./assets/images/fog.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear {
  background-image: url('./assets/images/sunnyDay.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.clouds {
  background-image: url('./assets/images/cloudy.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.fiveDayIcon {
  max-width: 2.2rem;
  height: auto;
}

.currentDayIcon {
  max-width: 3.2rem;
  height: auto;
}

.currentTemp {
  font-size: 8rem;
}

.currentlyTxt {
  font-size: 2rem;
}

.cityTxt {
  font-size: 3rem;
}

.listGroup {
  width: 30rem;
}

.titleText {
  color: rgba(129, 244, 153, 1);
}

.searchBar {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid 2px rgba(10, 17, 40, 1);
}

.searchButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}